.header-container {
  display: flex;
  justify-content: space-between;
  /* Aligns items to opposite ends */
  align-items: center;
  background-color: transparent;
  /* Dark blue background */
  padding: 10px 20px;
  border-radius: 8px;
}

.breadcrumb {
  font-size: 16px;
  color: white;
}

.payroll-button {
  background-color: #015798;
  /* Blue */
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.payroll-button:hover {
  background-color: #014177;
  /* Darker blue */
  transform: scale(1.05);
  /* Slight zoom effect */
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

.payroll-button:active {
  transform: scale(0.95);
  /* Shrinks slightly on click */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Ripple Effect */
.payroll-button::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.6s;
}

.payroll-button:active::after {
  transform: scale(2.5);
  opacity: 0;
}

.payroll-button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
}
// Variables for grid settings
$gap: 16px; // Space between grid items
$min-column-width: 150px; // Minimum width of each column before wrapping

// Main grid container styling
.grid-container {
  display: grid;
  gap: $gap;
  padding: $gap;

  // Smooth responsive grid layout
  grid-template-columns: repeat(auto-fit, minmax($min-column-width, 1fr));

  // Style for grid items
  .grid-item {
    background-color: #ffff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; // Adds smooth transition for grid items
  }

  .grid-item:nth-child(3) {
    grid-column: span 2;
  }
}

:host ::ng-deep .p-breadcrumb {
  border: none;
  background-color: transparent;
}
h4{
  text-align: center;
}


